.topline-container {
    text-align: center;

    margin-top: 20px;
    margin-bottom: 20px;
}

.health-display-container {
    text-align: center
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.statusdisplay{
    text-align: center
}

.process-menu-container {
    text-align: center
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

#processmenu{
    display: none; /* The menu is hidden until start is pressed are met */
}


.event-container{
    text-align: center;
    display: none; /* The menu is hidden until conditions are met */
}

.health-status-growth{
    color: green
}
.health-status-loss{
    color: red
}
.new-post-btn-container{
    text-align: center;

    margin-top: 50px;
    margin-bottom: 50px;
}

.post-container {
    max-width: 800px;

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.about-container {
    text-align: center;

    margin-top: 50px;
    margin-bottom: 50px;
}

.about-container > img{
    margin-bottom: 40px;
}

.cancel-create-post {
    text-align: center;
}
