.topline-container {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.health-display-container {
    text-align: center
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.emphasis{
    font-weight: bold;
}

.statusdisplay{
    text-align: center
}

.optiondisplay{
    text-align: center
}

.emoji{
    font-size: 2em; 
}

.conclude-game-container{
    display: none;     /* The menu is hidden until conditions are met */
}

.process-menu-container {
    text-align: center
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

#processmenu{
    display: none; /* The menu is hidden until start is pressed are met */
}


.event-container{
    text-align: center;
    display: none; /* The menu is hidden until conditions are met */
}

.hidden-score-saver{
    display:none
}

.health-status-growth{
    color: green
}
.health-status-loss{
    color: red
}
.new-post-btn-container{
    text-align: center;

    margin-top: 50px;
    margin-bottom: 50px;
}

.post-container {
    max-width: 800px;

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.about-container {
    text-align: center;

    margin-top: 50px;
    margin-bottom: 50px;
}

.about-container > img{
    margin-bottom: 40px;
}

.cancel-create-post {
    text-align: center;
}
