<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Product Design Game</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <link rel="stylesheet" href="/css/style.css" >
</head>
<body>
    <main class="container">
        <!-- Navbar which can be reused across other pages -->
        <%- include('../partials/navbar'); %>

        <!-- Information about the about page -->
        <div class="topline-container">
            <h1>About Product Design Game</h1>
            <p>Version 0.1 POC of how a game can test and reinforce knowledge of Product Design principles</p>
        </div>

        <div class="about-container">
            <p> This web app is meant to give everyone a fun way to test your knowledge of how well you learnt the principles taught in product design class. If you have just gone through the programme, it may help you revise. And if you have not yet gone through ProductUp, it may help you decide whether you need to come.</p>
            <br>
        </div>

    </main>
</body>
</html>