<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Product Design Game</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <link rel="stylesheet" href="/css/style.css" >
</head>
<body>
    <main class="container">
        <!-- Navbar which can be reused across other pages -->
        <%- include('../partials/navbar'); %>

        <!-- Information about the about page -->
        <div class="topline-container">
            <h1>About Product Design Game</h1>
            <p>Version 0.1 POC of how a game can test and reinforce knowledge of Product Design principles</p>
        </div>

        <div class="about-container">
            <p> This web app is meant to give you a fun way to test your knowledge of how well you learnt the principles taught in product design class. If you have just gone through the programme, it may help you revise and refresh some key concepts.</p>
            <br>
            

            
        </div>
        <div class="about-container">
            <p> At a more meta level, I do not see this as a web app that solves a problem on its own. This is probably best deployed as a teaching aid accompanying a product design curriculum, and can be used in many different ways with tweaks. For example: </p>
            <p> 1. As a "Kobayashi Maru" type simulator of how badly things can go when product design processes are not followed. For example, by imposing a tighter time constraint that forces you to skip steps. </p>
            <p> 2. As a safe sandbox simulator, to let class participants experiment by deliberately choosing to skip certain steps. This is modeled in game already - try going straight to prototype on day 1 or 2, or not talking to the policy owner until day 5.</p>
            <p> 3. In its current form, as a pre- and post-class assessment / refresher.</p>
            <p> 4. To elicit discussion about how the participants feel that the simulator actually does not model real life circumstances well.</p>

            
        </div>
    </main>
</body>
</html>