<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Design Game Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <link rel="stylesheet" href="/css/style.css" >
    <script src="/js/main.js"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M0NXM8FB79"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-M0NXM8FB79');
    </script>

</head>

<body>
    <main class="container">
        <!-- Navbar which can be reused across other pages -->
        <%- include('../partials/navbar'); %>

        <!-- Welcome information -->
        <div class="topline-container">
            <h1>Welcome to Product Design Game</h1>
            <p>Your mission, should you choose to accept it, is to navigate a product design journey. Acting as a the product manager placed in charge of a new web app, your goal is to get the web app to the best possible start in its first 4 weeks (or 20 working days). </p>
            <!-- TODO: Start by telling us your name -->
            <a onClick="resetVariables()" class="button" role="button" id="startButton">Start</a>
        </div>

        <!-- This is the health-status display, that shows that the player's status is on various top indicators -->
        <div class="health-display-container">
        <!-- TODO: To add icons and beautify -->
        These 6 indicators track how well you are doing towards delivering a solution for the customer. 
        <Table>
        <Tr>
            <TD colspan=2 class="statusdisplay"> <H6>Deadline</H6> </TD>
            <TD colspan=2 class="statusdisplay"> <H6>Solutioning</H6> </TD>
            <TD colspan=2 class="statusdisplay"> <H6>Confidence</H6> </TD>
        </Tr>
        <Tr>
            <TD class="statusdisplay"> Days elapsed <span id="days-elapsed">0</span> </TD>
            <TD class="statusdisplay"> Product Readiness <span id="product-readiness">None</span> </TD>
            <TD class="statusdisplay"> Problem Statement Clarity <span id="problem-statement-clarity">-</span>/100 </TD>
            <TD class="statusdisplay"> Customer Insight <span id="customer-insight">-</span>/100 </TD>
            <TD class="statusdisplay"> Team Morale <span id="team-morale">-</span>/100</TD>
            <TD class="statusdisplay"> Business Owner Confidence <span id="business-owner-confidence">-</span>/100</TD>
        </Tr>
        </Table>
        </div>


        <article class="event-container" id="mostrecent">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <!-- This is where we park the buttons every time -->
        <div class="process-menu-container" id="processmenu">
         <!-- Setup button options --> 
        <H4>What do you wish to do next?</H4>
         <table>
            <TR>
                <TD><a onClick="buildPaperProto()" class="button" role="button" id="buildpaperButton">Build paper prototype (1 day)</a></TD>
                <TD>Build figma prototype</TD>
                <TD>Build clickable prototype</TD>
                <TD>Build MVP web app</TD>
            </TR>
            <TR>
                <TD><a onClick="interviewPolicyOwner()" class="button" role="button" id="policyownerButton">Interview policy owner (1 day)</a></TD>
                <TD><a onClick="interviewGroundDivision()" class="button" role="button" id="grounddivisionButton">Interview ground division (1 day)</a></TD>
                <TD>Conduct FGDs with Customers</TD>
                <TD>Review FGD findings</TD>
            </TR>
            <TR>
                <TD><a onClick="observeCustomers()" class="button" role="button" id="observationButton">Observe customers in natural environment (3 days)</a></TD>
                <TD><a onClick="writeProblemStatement()" class="button" role="button" id="writepsButton">Write Problem Statement (1 day)</a></TD>
                <TD><a onClick="planProtoTest()" class="button" role="button" id="plantestButton">Plan Prototype Tests (2 days)</a></TD>
                <TD></TD>
            </TR>
          </table>   
        </div>




        <!-- Setup series of descending days dialogues for filling. We used CSS to set all to hidden, at the start; these will be filled one at a time as we play, scrolling to the top-->
        <article class="event-container" id="event30">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event29">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event28">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event27">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event26">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event25">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event24">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event23">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>
        
        <article class="event-container" id="event22">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>
        
        <article class="event-container" id="event21">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event20">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event19">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event18">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event17">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event16">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event15">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event14">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event13">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>
        
        <article class="event-container" id="event12">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>
        
        <article class="event-container" id="event11">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>
        

        <article class="event-container" id="event10">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event9">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event8">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event7">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event6">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event5">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event4">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event3">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>
        
        <article class="event-container" id="event2">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>
        
        <article class="event-container" id="event1">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        
        <div class="new-post-btn-container">
           <a href="/new" class="button" role="button">+ New Post</a>
        </div>

        <!-- Show blog posts -->
        <% blogs.forEach(post => { %>
            <article class="post-container">
                <h3><%= post.title %></h3>
                <p><%= post.content %></p>
                <form action="/delete/<%= post.id %>" method="post" onsubmit="return confirm('Do you really want to delete this post?');">
                    <button class="outline primary" type="submit">Delete</button>
                </form>
            </article>
        <% }); %>
    </main>
</body>
</html>