<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Design Game Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <link rel="stylesheet" href="/css/style.css" >
    <script src="/js/main.js"></script>
</head>
<body>
    <main class="container">
        <!-- Navbar which can be reused across other pages -->
        <%- include('../partials/navbar'); %>

        <!-- Welcome information -->
        <div class="topline-container">
            <h1>Welcome to Product Design Game</h1>
            <p>Your mission, should you choose to accept it, is to navigate a product design journey. Acting as a the product manager placed in charge of a new web app, your goal is to get the web app to the best possible start in its first 30 days. </p>
            <p>We will be tracking how well your process choices allow your team to understand the problem statement and solve the customer's needs and pain points within the constraints</p>
            <p>Space for more tutorial points here</p>
            <a onClick="resetVariables()" class="button" role="button">Start</a>
        </div>
        <!-- Setup health display -->
        <div class="health-display-container">
        <!-- Linear for now, table it later -->
                    <p>Days elapsed <span id="days-elapsed">0</span></p>
                    <p>Problem Statement Clarity <span id="problem-statement-clarity">0</span>/100</p>
                    <p>Customer Insight <span id="customer-insight">0</span>/100</p>
                    <p>Team Morale <span id="team-morale">50</span>/100</p>
                    <p>Business Owner Confidence <span id="business-owner-confidence">50</span>/100</p>
                    <p>Product Readiness <span id="customer-insight">None</span></p>



        </div>
        <!-- Setup 20 button options -->
        <!-- Setup series of descending days dialogues for filling -->

        
        <div class="new-post-btn-container">
           <a href="/new" class="button" role="button">+ New Post</a>
        </div>

        <!-- Show blog posts -->
        <% blogs.forEach(post => { %>
            <article class="post-container">
                <h3><%= post.title %></h3>
                <p><%= post.content %></p>
                <form action="/delete/<%= post.id %>" method="post" onsubmit="return confirm('Do you really want to delete this post?');">
                    <button class="outline primary" type="submit">Delete</button>
                </form>
            </article>
        <% }); %>
    </main>
</body>
</html>