<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Design Game Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <link rel="stylesheet" href="/css/style.css" >
    <script src="/js/main.js"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M0NXM8FB79"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-M0NXM8FB79');
    </script>

</head>

<body>
    <main class="container">
        <!-- Navbar which can be reused across other pages -->
        <%- include('../partials/navbar'); %>

        <!-- Welcome information -->
        <div class="topline-container">
            <h1>Welcome to Product Design Game</h1>
            <p>Your mission, should you choose to accept it, is to navigate a product design journey. Acting as the product manager placed in charge of a new web app, your goal is to get the web app to the best possible start in its first 20 working days. At the end of that time, your product will automatically move into MVP development and your score will be computed. </p>
            <!-- TODO: Start by telling us your name -->
            <a onClick="resetVariables()" class="button" role="button" id="startButton">Start</a>
        </div>

        <!-- This is the health-status display, that shows that the player's status is on various top indicators -->
        <div class="health-display-container">
        <!-- TODO: To add icons and beautify -->
        These indicators track how well you are doing and contribute to your final score. 
        <Table>
            <Tr>
                <TD class="hidden-score-saver" width="20%"><span class="emoji"></span>Hidden Readiness display</TD>
                <TD class="statusdisplay" width="20%"><span class="emoji">🔎</span>Problem Statement Clarity</TD>
                <TD class="statusdisplay" width="20%"><span class="emoji">💭</span>Customer Insight </TD>
                <TD class="statusdisplay" width="20%"><span class="emoji">💖</span>Team Morale</TD>
                <TD class="statusdisplay" width="20%"><span class="emoji">💪</span>Business Owner Confidence</TD>
            </Tr>
            <Tr>
                <TD class="hidden-score-saver"><span id="product-readiness">-</span> </TD>
                <TD class="statusdisplay"><span id="problem-statement-clarity">-</span> </TD>
                <TD class="statusdisplay"><span id="customer-insight">-</span> </TD>
                <TD class="statusdisplay"><span id="team-morale">-</span></TD>
                <TD class="statusdisplay"><span id="business-owner-confidence">-</span></TD>
            </Tr>
        </Table>
        </div>


        <article class="event-container" id="mostrecent">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <div class="conclude-game-container" id="concludegame">
            <H4>Game over!</H4>
            Thank you for playing. Your product is now moving forward to production.
            <H6><span id="scorereport">123</span></H6>
            <form method="post">
                <fieldset>
                  <label>
                    Title
                    <input name="username" placeholder="Write your username.."/>
                  </label>
                </fieldset>

                <label>
                <input name="score" type="number" id="scoresaver" class="hidden-score-saver" />
                </label>

                <label>
                    <input name="psc" type="number" id="pscsaver" class="hidden-score-saver" />
                </label>

                <label>
                    <input name="insight" type="number" id="insightsaver" class="hidden-score-saver" />
                </label>

                <label>
                    <input name="morale" type="number" id="moralesaver" class="hidden-score-saver" />
                </label>

                <label>
                    <input name="boc" type="number" id="bocsaver" class="hidden-score-saver" />
                </label>

                <input
                  type="submit"
                  value="🚀 Put in your username to save your score"
                />
              </form>
        </div>



        <!-- This is where we park the buttons every time -->
        <div class="process-menu-container" id="processmenu">
         <!-- Setup button options --> 
        <H4>What do you wish to do next?</H4>
         <table>
            <TR>
                <TD class="optiondisplay" width="30%"><a onClick="buildNoFiProto()" class="button" role="button" id="buildnofiButton">Build no-fidelity prototype (1 day)</a></TD>
                <TD class="optiondisplay" width="30%"><a onClick="buildLoFiProto()" class="button" role="button" id="buildlofiButton">Build lo-fidelity prototype (2 days)</a></TD>
                <TD class="optiondisplay" width="30%"><a onClick="buildHiFiProto()" class="button" role="button" id="buildhifiButton">Build hi-fidelity prototype (3 days)</TD>
            </TR>
            <TR>
                <TD class="optiondisplay"><a onClick="interviewPolicyOwner()" class="button" role="button" id="policyownerButton">Interview policy owner (1 day)</a></TD>
                <TD class="optiondisplay"><a onClick="interviewGroundDivision()" class="button" role="button" id="grounddivisionButton">Interview ground division (1 day)</a></TD>
                <TD class="optiondisplay"><a onClick="testProto()" class="button" role="button" id="testprotoButton">Test Prototype with Customers</a></TD>
            </TR>
            <TR>
                <TD class="optiondisplay"><a onClick="observeCustomers()" class="button" role="button" id="observationButton">Observe customers in natural environment (3 days)</a></TD>
                <TD class="optiondisplay"><a onClick="writeProblemStatement()" class="button" role="button" id="writepsButton">Write Problem Statement (1 day)</a></TD>
                <TD class="optiondisplay"><a onClick="planProtoTest()" class="button" role="button" id="plantestButton">Plan Prototype Tests (1 day)</a></TD>
            </TR>
          </table>   
        </div>




        <!-- Setup series of descending days dialogues for filling. Use CSS to set all to hidden, at the start; these will be filled one at a time as we play, scrolling to the top-->
        <article class="event-container" id="event30">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event29">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event28">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event27">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event26">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event25">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event24">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event23">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>
        
        <article class="event-container" id="event22">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>
        
        <article class="event-container" id="event21">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event20">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event19">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event18">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event17">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event16">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event15">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event14">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event13">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>
        
        <article class="event-container" id="event12">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>
        
        <article class="event-container" id="event11">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>
        

        <article class="event-container" id="event10">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event9">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event8">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event7">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event6">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event5">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event4">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        <article class="event-container" id="event3">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>
        
        <article class="event-container" id="event2">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>
        
        <article class="event-container" id="event1">
            <header>
                <h4></h4>
            </header>
                <p></p>
        </article>

        
        <div class="about-container">
            <h4>Disclaimer</h4>
            <p> This website is created for learning purposes only. The information provided here should not be considered professional advice. Please note that we make no guarantees regarding the accuracy, completeness, or reliability of the contents of this website. Any actions you take based on the contents of this website are at your own risk. We are not liable for any losses or damages incurred from the use of this website. </p>
            
            
        </div>

    </main>
</body>
</html>